.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-placeholder {
    max-width: 42rem;
    padding: 2rem;
    text-align: center;
    padding: 5rem 0 10rem;
}

.page-placeholder h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-primary);
}

.page-placeholder p {
    color: var(--color-text-secondary);
    line-height: 1.7;
}

.page-placeholder p:not(:last-child) {
    margin-bottom: 1rem;
}